# ignore objects and archives, anywhere in the tree.
*.[oa]

# ignore generated html files,
#*.html

# except foo.html which is maintained by hand
#!foo.html

# except windows execute 
*.exe
*.EXE

# export mid file
*.o

# export gnu/linux execute file, in/out file
*.out
*.in


.DS_Store


# tmp file
*~

*.zip

*.cfg


*.pydevproject
.project
.metadata
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
*.launch
.cproject

.buildpath
*.suo
*.user
*.sln.docstates
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
*.gpState
*.[Rr]e[Ss]harper
_TeamCity*
*.dotCover
*.ncrunch*
.*crunch*.local.xml
# Publish Web Output
*.Publish.xml
*.pubxml
*.build.csdef
*.Cache
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings
*.mdf
*.ldf
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
*.py[co]
*.egg
*.egg-info
.coverage
.tox
*.mo
